tickers{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .select2-container--default.select2-container--focus .select2-selection--multiple,
        .select2-container--default .select2-selection--multiple {
            display: flex !important;
            flex-direction: row-reverse !important;
            align-items: center !important;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
            color: #000;
        }
        .table td {
            padding: .25rem 0.75rem;
        }
        #companyTable td {
            padding: 0.5rem;
        }
        .select2-container {
            width: 100%;
        }
        
    </style>

      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © bootstrapdash.com</span>
            </div>
          </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
   
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



{% endblock content %}